{% extends 'base.html.twig' %}

{% block body %}
    <h1>Document</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ document.id }}</td>
            </tr>
            <tr>
                <th>Doctitre</th>
                <td>{{ document.docTitre }}</td>
            </tr>
            <tr>
                <th>Docdesc</th>
                <td>{{ document.docDesc }}</td>
            </tr>
            <tr>
                <th>Docfichier</th>
                <td>{{ document.docFichier }}</td>
            </tr>
            <tr>
                <th>Docpub</th>
                <td>{% if document.docPub %}{{ document.docPub|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Docmaj</th>
                <td>{% if document.docMaj %}{{ document.docMaj|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('document_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('document_edit', { 'id': document.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
